<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentinfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"></activity>
        <activity android:name=".Student_welcome_page" />
        <activity android:name=".Student_information" />
        <activity android:name=".Financial_Dashboard" />
        <activity android:name=".Menu_Header" />
        <activity android:name=".Starting_page" />
        <activity android:name=".Issue_Review" />
        <activity android:name=".VeiwStudentProfile" />
        <activity android:name=".NewStudentInfo" />
        <activity android:name=".NewStudentsList" />
        <activity android:name=".Create_Account" />
        <activity android:name=".DashBoard" />
        <activity android:name=".Student_DashBoard" />
        <activity android:name=".AdminPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>